<input type="text" value="<%= @tweets.first.inspect %>">

<h1><%= "@#{@twitter_handle}'s" %> Tweets</h1>

<div class="row span12">
  <h1>Tweets</h1>
  <ul>
    <% @tweets.each do |tweet| %>
      <li class="tweet">
        <%= tweet.text %>
      </li>
    <% end %>
  </ul>

<!-- 
If you want to see @mentions, just uncomment & be sure to remove the three ERB comments too.
  <h1>Mentions</h1>
  <ul>
    <%# @mentions.each do |tweet| %>
      <li class="tweet">
        <%#= tweet.text %>
      </li>
    <%# end %>
  </ul>
 -->
  <h1>Friends</h1>
  <ul>
    <% @friends.each do |friend| %>
      <li class="tweet">
        @<%= friend.handle %>
      </li>
    <% end %>
  </ul>

  <h1>Followers</h1>
  <ul>
    <% @followers.each do |follower| %>
      <li class="tweet">
        @<%= follower.handle %>
      </li>
    <% end %>
  </ul>
</div>